<!DOCTYPE html>
<html>
  <head>
<!--
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
-->
  <meta charset="utf-8">
  <title>Show Trip</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/carousel.css">
  <link href="/car.jpg" rel="shortcut icon" type="image/x-icon">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script> 
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.js"></script>

  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      margin-top: -20px;
      height: 50%;
    }
    table, th , td  {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      width: 50%;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>

  </head>
  <body onload="showUserName();">

  <div id="header"></div>
  <div id="map"></div>

  <div class="container" ng-app="displayTripsApp" ng-controller="displayTripsCtrl" ng-init="trip=0">

  <div class="container" style="margin-top:5px;margin-bottom:5px;">
    <form id="mainForm" name="mainForm">
      Display on map:
      <label class="radio-inline">
        <input type="radio" name="rads" value="speed" ng-model="radioValue" ng-click="showTrip()" checked>Speed
      </label>
      <label class="radio-inline">
        <input type="radio" name="rads" value="score" ng-model="radioValue" ng-click="showTrip()">Score
      </label>
      <label class="radio-inline">
        <input type="radio" name="rads" value="brake" ng-model="radioValue" ng-click="showTrip()">Brakes
      </label>
    </form>
  </div>  

  <div class="container">
    <div class="form-group">
    <label for="trips">Trip list:</label>
      <select class="form-control" id="trips" name="trips" 
        ng-options="option.name for option in data.availableOptions track by option.id"
        ng-model="data.selectedOption" ng-change="showTrip()">
      </select>
    </div>
  </div>


  <div class="container">
 
    <label for="summary">Trip summary:</label>
    <table>
      <tr>
        <td>Distance</td><td>{{ values.distance.toFixed(2) }} miles</td>
      </tr>
      <tr> 
         <td>Duration</td> <td>{{ (values.duration/60000).toFixed(2) }} minutes</td>
      </tr>
      <tr> 
         <td>Score</td> <td>{{ values.score.toFixed(2) }} out of 10.0</td>
      </tr>
    </table>
  </div>

  </div>

  <script>
    $(document).ready(function(){
      $("#header").load("navbar.html");
    });
    var app = angular.module('displayTripsApp', []);
    app.service('tripformat', function () {
      var data = {};
      this.getData = function(key) {
        return data[key];
      }
      this.getKeys = function() {
        return Object.keys(data);
      }
      
      this.setData = function(value) {
        var keys = Object.keys(value);
        for(var i = 0; i < keys.length; i++) {
          var cur = keys[i];
          var time = new Date(parseInt(cur));
          data[time] = value[keys[i]];
        }
      }
    });

   app.controller('displayTripsCtrl', function($scope, $http, tripformat){ 
      $http.get("/mytrips").then(function(res){
        if(res.status == 200) {
          var response = res.data;
          if(response.status == "fail") {
            $scope.data.availableOptions[0] = {id: 0, name: "No trip uploaded yet!"};           
            $scope.data.selectedOption = $scope.data.availableOptions[0]; 
            return;
          }
          var tripdata = response.data;
          tripformat.setData(tripdata);
          var keys = tripformat.getKeys(); 
          for(var i = 0; i < keys.length; i++) {
            var cur = keys[i];
            $scope.data.availableOptions[keys.length - i - 1] = {id: i, name: cur.toString()};
          }
          $scope.data.selectedOption = $scope.data.availableOptions[0]; 
          $scope.showTrip();
        }
      });
      $scope.showTrip = function() {
        var cur = $scope.data.selectedOption.name;
        var method = $scope.radioValue;
        var trip = tripformat.getData(cur);
        var summary = displayTrip(trip, method);
        $scope.values = summary; 
      };

      $scope.data = {
        availableOptions: [],
        selectedOption: {} 
      };
      $scope.radioValue = "speed";

    });
   
  </script>

    
  <script src="/show.js"></script> 
  <script src="/user.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3dwDzOBKBdFmKH9yn5yvp72lw09kW01M&callback=initMap"></script> 
</body>
</html>


