<!DOCTYPE html>
<html>
  <head>
<!--
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
-->
  <meta charset="utf-8">
  <title>Show Trip</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/carousel.css">
  <link href="/car.jpg" rel="shortcut icon" type="image/x-icon">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script> 
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.js"></script>

   <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        margin-top: -20px;
        height: 50%;
      }
    </style>

  </head>
  <body onload="showUserName();">

  <div id="header"></div>
  <div id="map"></div>

  <div class="container" ng-app="displayTripsApp" ng-controller="displayTripsCtrl" ng-init="trip=0">

  <div class="container" style="margin-top:5px;margin-bottom:5px;">
    <form id="mainForm" name="mainForm">
      Display on map:
      <label class="radio-inline">
        <input type="radio" name="rads" value="speed" ng-click="showTrip()" ng-model="display" checked>Speed
      </label>
      <label class="radio-inline">
        <input type="radio" name="rads" value="score" ng-click="showTrip()" ng-model="display">Score
      </label>
      <label class="radio-inline">
        <input type="radio" name="rads" value="brake" ng-click="showTrip()" ng-model="display">Brakes
      </label>
    </form>
  </div>  

  <div class="container">
    <div class="form-group">
    <label for="trips">Trip list:</label>
      <select class="form-control" id="trips" name="trips" 
        ng-options="option.name for option in data.availableOptions track by option.id"
        ng-model="data.selectedOption" ng-change="showTrip()">
      </select>
    </div>
  </div>

  </div>

  <script>
    $(document).ready(function(){
      $("#header").load("navbar.html");
    });
    var app = angular.module('displayTripsApp', []);
    app.service('tripformat', function () {
      var data = {};
      this.getData = function(key) {
        return data[key];
      }
      this.getKeys = function() {
        return Object.keys(data);
      }
      
      this.setData = function(value) {
        var keys = Object.keys(value);
        for(var i = 0; i < keys.length; i++) {
          var cur = keys[i];
          var time = new Date(parseInt(cur));
          data[time] = value[keys[i]];
        }
      }
    });

   app.controller('displayTripsCtrl', function($scope, $http, tripformat){ 
      $http.get("/mytrips").then(function(res){
        if(res.status == 200) {
          var response = res.data;
          if(response.status == "fail") {
            $scope.data.availableOptions[0] = {id: 0, name: "No trip uploaded yet!"};           
            $scope.data.selectedOption = $scope.trips.availableOptions[0]; 
            return;
          }
          var tripdata = response.data;
          tripformat.setData(tripdata);
          var keys = tripformat.getKeys(); 
          for(var i = 0; i < keys.length; i++) {
            var cur = keys[i];
            $scope.data.availableOptions[i] = {id: i, name: cur.toString()};
          }
          $scope.data.selectedOption = $scope.data.availableOptions[0]; 
          $scope.showTrip();
        }
      });
      $scope.showTrip = function() {
        var cur = $scope.data.selectedOption.name;
        var method = $scope.display;
        //console.log($scope.mainForm.rads);
        //console.log($scope.tripdata[curtrip]);
        var trip = tripformat.getData(cur);
        //console.log(trip);
        displayTrip(trip);
      };

      $scope.data = {
        availableOptions: [],
        selectedOption: {} 
      };

    });
   
  </script>

    
  <script src="/show.js"></script> 
  <script src="/user.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3dwDzOBKBdFmKH9yn5yvp72lw09kW01M&callback=initMap"></script> 
</body>
</html>


