<!DOCTYPE html>
<html>
  <head>
<!--
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
-->
  <meta charset="utf-8">
  <title>Show Trip</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/carousel.css">
  <link rel="stylesheet" href="/legend.css">
  <link href="/car.jpg" rel="shortcut icon" type="image/x-icon">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script> 
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/highcharts/highcharts.js"></script>
  <style>

  .selected {
    background-color:whitesmoke;
    color:red;
    font-weight:bold;
  }

  </style>

  </head>
  <body onload="showUserName();">
  <div id="header"></div> 

  <div class = "container col-lg-12" style="">
  <div class = "row">
  <!-- all about the map -->
  <div id="map-container" class="map col-xs-12 col-sm-12 col-md-8 col-lg-8" style="height:600px;position:relative;padding-bottom:50px;">
    <div id="map" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:100%"></div>
    <div id="legend" class="col-lg-2">
    <table class="table">
      <thead><tr><th id="legend-type">Selected</th><th></th></tr></thead>
      <tbody>
        <tr><td id="legend-high">High</td><td><div class="colored-box green"></div></td></tr>
        <tr><td id="legend-medhigh">Med High</td><td><div class="colored-box lightgreen"></div></td></tr>
        <tr><td id="legend-med">Med</td><td><div class="colored-box yellow"></div></td></tr>
        <tr><td id="legend-medlow">Med Low</td><td><div class="colored-box orange"></div></td></tr>
        <tr><td id="legend-low">Low</td><td><div class="colored-box red"></div></td></tr>
      </tbody>
    </table>
    </div>

    <div id="chart" class="container col-xs-12 col-sm-12 col-lg-12" style="height:300px;"></div>
  </div>
  <!--end of the map -->

  <div id="right-side" class="container col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div id="tripInformation" ng-app="displayTripsApp" ng-controller="displayTripsCtrl" ng-init="trip=0">
       
      <form id="mainForm" name="mainForm" class="form-group">
        <label for="trip-selection">Display on map:</label><br>
        <label id="trip-selection" class="radio-inline">
          <input type="radio" name="rads" value="speed" ng-model="radioValue" ng-click="showTrip()" checked>Speed
        </label>
        <label class="radio-inline">
          <input type="radio" name="rads" value="score" ng-model="radioValue" ng-click="showTrip()">Score
        </label>
        <label class="radio-inline">
          <input type="radio" name="rads" value="brake" ng-model="radioValue" ng-click="showTrip()">Brakes
        </label>
      </form>

     <form id="trips" name="trips" class="form-group" style="overflow:scroll; height:800px;">
        <label for="trips">Trip list:</label>

        <table class="table">
        <tr><td>Index</td><td>Time</td><td>Distance</td><td>Duration</td><td>Score</td></tr>
        <tr ng-repeat="curtrip in trips" ng-click="showTrip(curtrip);setClickedRow($index);" ng-class="{'selected':$index == selectedRow}">
          <td>{{ $index + 1 }}</td>
          <td>{{ curtrip.starttime }}</td>
          <td>{{ curtrip.distance }}</td>
          <td>{{ curtrip.endtime - curtrip.starttime }}</td>
          <td>{{ curtrip.score }}</td>
        </tr>
        </table>
     </form>
    </div>
  </div>
  <!-- the end of right-side -->
  </div>

</div>

  <script>
    $(document).ready(function(){
      $("#header").load("navbar.html");
      $(".trip-label").click(function() {
        console.log("label clicked");
        $(".trip-label").removeClass('lightgreen');
        $(this).addClass('lightgreen');
      });
    });
    var app = angular.module('displayTripsApp', []);
    app.service('tripformat', function () {
      var trips = {};
      this.getTrips = function() {
        return trips;
      }
      this.getTrip = function(key) {
        return trips[key];
      }
      this.getKeys = function() {
        return Object.keys(trips);
      } 
      this.setData = function(value) {
        trips = value;
      }
    });

   app.controller('displayTripsCtrl', function($scope, $http, tripformat){ 
      $http.get("/mytrips").then(function(res){
        if(res.status == 200) {
          var response = res.data;
          if(response.status == "fail") {
            return;
          }
          tripformat.setData(response.data);
          var trips = tripformat.getTrips();       
          $scope.trips = trips;   
          for ($key in trips) break;
          $scope.curtrip = trips[$key];  
          $scope.showTrip($scope.curtrip);
          $scope.setClickedRow(0);
       }
      });
      $scope.showTrip = function($curtrip) {
        var method = $scope.radioValue;
        displayTrip($curtrip, method); 
      };
      $scope.radioValue = "speed";


      $scope.setClickedRow = function(index){
        $scope.selectedRow = index;
      }
 
    });
   
  </script>

    
  <script src="/show.js"></script> 
  <script src="/user.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3dwDzOBKBdFmKH9yn5yvp72lw09kW01M&callback=initMap"></script> 
</body>
</html>


