<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="/">DriveSense</a>
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul id="signinup" class="nav navbar-nav navbar-right" ng-hide="$ctrl.isAuthed()">
        <li><button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#signin" ng-click="$ctrl.showSignin()">Sign in</button></li>
        <li><button type="button" class="btn btn-info navbar-btn" data-toggle="modal" data-target="#signup" ng-click="$ctrl.showSignup()">Sign up</button></li>
      </ul>
      <ul id="username" class="nav navbar-nav navbar-right" ng-show="$ctrl.isAuthed()">
        <li><a href="#/mytrips" id="mytrips">My Trips</a></li>
        <li><a href="#/mytrips" id="user">{{$ctrl.user().firstname}} {{$ctrl.user().lastname}}</a></li>
        <li><button type="button" class="btn btn-info navbar-btn" ng-click="$ctrl.logout()">Sign Out</button></li>
      </ul> 
    </div>
  </div>
</nav>

<!-- Sign In -->
<div id="signin" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="signinLabel">Sign In</h4>
  </div>
  <div class="modal-body">
    <h5>Sign in with Google:</h5><br>
    <div id="signin-google"></div>
    <hr>
    <h5>Sign in with a Drivesense account:</h5><br>
    <form id="signinform" ng-submit="$ctrl.login()" ng-hide="$ctrl.isAuthed()">
      <div class="form-group">
        <input type="text" placeholder="Email" class="form-control" name="email" ng-model="$ctrl.email">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" name="password" ng-model="$ctrl.password">
      </div> 
    </form> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" form="signinform" class="btn btn-primary" ng-hide="$ctrl.isAuthed()">Submit</button>
  </div>
    </div>
  </div>
</div>

<div id="signup" class="modal fade" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <div class="modal-body">
    <h5>Sign up with Google:</h5><br>
    <div id="signup-google"></div>
    <hr>
    <h5>Sign up for a Drivesense account:</h5><br>
    <form id="signupform" ng-submit="$ctrl.signup()" ng-hide="$ctrl.isAuthed()">
      <div class="form-group">
           <div class="row">
             <div class="col-sm-6 col-md-6"><input type="text" placeholder="First Name" class="form-control" name="firstname" ng-model="$ctrl.signupinfo.firstname"></div>
         <div class="col-sm-6 col-md-6"><input type="text" placeholder="Last Name" class="form-control" name="lastname" ng-model="$ctrl.signupinfo.lastname"></div>
      </div></div>
      <div class="form-group">
        <input type="text" placeholder="Email" class="form-control" name="email" ng-model="$ctrl.signupinfo.email">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" name="password" ng-model="$ctrl.signupinfo.password">
      </div> 
      <div class="form-group">
        <input type="password" placeholder="Repeat Password" class="form-control" name="repeat" ng-model="$ctrl.signupinfo.repeat">
      </div> 
    </form> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" form="signupform" class="btn btn-primary" ng-hide="$ctrl.isAuthed()">Submit</button>
  </div>
    </div>
  </div>
</div>